absl-py==2.4.0
aiohappyeyeballs 
aiohttp 
aiosignal 
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asari # ==0.2.0
asttokens==3.0.1
astunparse==1.6.3
attrs 
backports.zstd
beautifulsoup4==4.14.3
blinker
blis==1.3.3
Brotli 
catalogue==2.0.10
certifi 
cffi 
charset-normalizer
click 
cloudpathlib==0.23.0
cloudpickle==3.1.2
colorama
confection==1.3.3
contourpy==1.3.3
cryptography 
cycler==0.12.1
cymem==2.0.13
dataclasses-json==0.6.7
decorator==5.2.1
deep-translator==1.11.4
defusedxml==0.7.1
#en_core_web_sm  Run separately: python -m spacy download en_core_web_sm
et_xmlfile==2.0.0
executing==2.2.1
filelock==3.25.2
Flask 
flatbuffers==25.12.19
fonttools==4.62.0
frozenlist 
fsspec==2026.2.0
fugashi==1.5.2
gast==0.7.0
google-api-core 
google-api-python-client 
google-auth 
google-auth-httplib2 
google-pasta==0.2.0
googleapis-common-protos
greenlet==3.5.0
grpcio==1.78.0
h11==0.16.0
h2 
h5py==3.14.0
hf-xet==1.4.2
hpack
httpcore==1.0.9
httplib2 
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub # ==1.8.0
hyperframe 
idna 
ipadic==1.0.0
ipython==9.13.0
ipython_pygments_lexers==1.1.1
itsdangerous
Janome==0.4.2
jedi==0.20.0
Jinja2 
joblib==1.5.3
jp-stopword-filter==0.2.0
jsonify==0.5
jsonpatch==1.33
jsonpointer==3.1.1
keras # ==3.13.2
kiwisolver==1.5.0
langchain-classic==1.0.7
langchain-community==0.4.1
langchain-core # ==1.3.3
langchain-protocol==0.0.15
langchain-text-splitters==1.1.2
langsmith==0.8.3
libclang==18.1.1
lightgbm==4.6.0
llvmlite==0.47.0
markdown-it-py==4.0.0
MarkupSafe 
marshmallow #==3.26.2
matplotlib==3.10.8
matplotlib-inline==0.2.2
mdurl==0.1.2
mecab==0.996.13
mecab-python3==1.0.12
ml_dtypes==0.5.4
mpmath==1.3.0
multidict 
murmurhash==1.0.15
mypy_extensions==1.1.0
namex==0.1.0
networkx==3.6.1
nltk==3.9.4
numba==0.65.1
numpy 
onnx==1.20.1
onnxruntime # ==1.24.4
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.19.0
orjson==3.11.9
packaging #==26.2 version removed
pandas
parso==0.8.7
pillow==12.1.1
preshed==3.0.13
prompt_toolkit==3.0.52
propcache 
proto-plus 
protobuf 
psutil==7.2.2
pure_eval==0.2.3
pyasn1 
pyasn1_modules 
pycld2==0.42
pycparser 
pydantic==2.12.5
pydantic-settings==2.14.1
pydantic_core==2.41.5
Pygments==2.19.2
pyOpenSSL
pyparsing 
PySocks 
python-dateutil 
python-dotenv 
pyu2f 
PyYAML==6.0.3
regex==2026.2.28
requests 
requests-toolbelt==1.0.0
rich==14.3.3
rsa 
safetensors==0.7.0
schedule==1.2.2
scikit-learn==1.8.0
scipy==1.17.1
sentencepiece==0.2.1
shap==0.51.0
shellingham==1.5.4
six 
skl2onnx==1.20.0
slicer==0.0.8
smart_open==7.5.1
soupsieve==2.8.3
spacy==3.8.14
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.49
srsly==2.5.3
stack-data==0.6.3
sympy==1.14.0
tenacity==9.1.4
tensorflow==2.21.0
termcolor==3.3.0
textblob==0.19.0
thinc==8.3.13
threadpoolctl==3.6.0
timedelta==2020.12.3
tokenizers==0.22.2
tqdm==4.67.3
traitlets==5.15.0
transformers==5.3.0
typer==0.24.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions 
tzdata
unidic-lite==1.0.8
uritemplate 
urllib3 
uuid_utils==0.14.1
vaderSentiment==3.3.2
wasabi==1.1.3
wcwidth==0.7.0
weasel==1.0.0
Werkzeug 
win_inet_pton 
wrapt==2.1.2
xxhash==3.7.0
yarl
youtube-transcript-api==1.2.4
yt-dlp==2026.3.17
zstandard==0.25.0
